@media (min-width:1170px)/* and (max-width:1599px)*/ { /* standard resolution screen view*/
    .search-header {
        padding: 80px;
        margin: 0 auto 0 auto;
        position: relative;
        background: #202020;
        max-width: 1500px;
    }
}

@media (min-width:300px) and (max-width:1169px) { /* tablet size view*/

    .search-header {
        padding: 30px;
        margin: 0 auto 0 auto;
        position: relative;
        background: #202020;
        max-width: 1024px;
    }
    
}

.searchInput {
    padding: 10px;
    font-size: 1em;
    margin: 0 0 15px 0;
    width: 100%;
    height: 55px;
    border: 1px solid #cac5c5;
    border-radius: 5px !important;
}
.searchInput:focus {
    outline: none;
    border: 1px solid #555;
}
.search-article {
    display: flow-root;
    margin: 5px auto;
    font-size: 1.25em;
    background: white;
    padding: 20px;
}
.gif-cntnr {
    float: left;
    margin: 4px;
    border: 1px solid grey;
}
.search-section {
    margin: 20px auto;
    font-size: 0.8em;
    text-align: justify;
}
.qa-intro {
    margin: 20px auto;
}
.panel-title {
    color: #333;
    font-weight: 300;
}

